.emoji-nav {
  color: #ffffff;
  font-size: 25px;
  padding-left: 10px;
}
.navbar {
  background-color: #b0a2e9;
  height: 13vh;
  display: flex;
  justify-content: space-between;
}

.emoji-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 35px;
  margin-right: 15px;
  color: #ffffff;
  font-weight: 500;
  font-family: roboto;
}

@media screen and (min-width: 768px) {
  .emoji-logo {
    margin-right: 40px;
    margin-left: 35px;
  }
}

.nav-logo {
  height: 45px;
}

.para {
  padding: 10px;
}
